/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(240, 240, 240);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
button {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 85%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* background: whitesmoke; */
  padding: 3rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.category {
  padding: 0.5rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: bold;
  font-size: medium;
  color: rgb(170, 134, 100);
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: none;
}

.gridContainer {
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr; */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
}

.category:hover {
  background: rgb(170, 134, 100);
  color: white;
  cursor: pointer;
}

.foodContainer {
  display: flex;
  flex-direction: row;
}

.foodImage {
  /* height: 100%;
  width: 15rem; */
  border: 3px solid rgb(170, 134, 100);
  border-radius: 0.5rem;
  margin-right: 1.25rem;
  object-fit: cover;
  height: 200px;
  width: 100%;
  display: block;
  max-width: 20rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.foodHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(214, 205, 205);
}

.foodName {
  font-weight: bold;
  margin-bottom: 0rem;
}

.foodPrice {
  font-weight: bold;
  margin-bottom: 0rem;
  color: rgb(170, 134, 100);
}

.foodInfo {
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
  }
}
